.title {
	margin-top: 30px;
	text-align: center;
	font-family: '宋体';
	position: relative;
	left: 65px;
}

#row {
	width: 600px;
	height: 450px;
	float: right;
	margin-top: 8px;
	position: relative;
	
	text-align: center;
	right: 250px;
}

.form-control {
	width: 250px;
	margin-bottom: 35px;
}